body {
    width: 1400px;
    border: 1px solid black;
    margin: auto;
    padding: 48px;
    margin-top: 28px;
    border-radius: 50px;
}

h1 {
    text-align: center;
    color: tomato;
    font-style: italic;
    font-weight: bolder;
}

h2 {
    text-align: center;
    color: tomato;
    font-weight: bold;
}

p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: disc;
}

footer {
    text-align: center;
}